body {
  background-color: #031E5D;
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 25px;
  color: white;
}

h1 {
  text-align: center;
}

.checker-div {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  right: 10%;
  transform:translateY(-50%);
  font-size: 2em;
 }

/*animation*/
.fade-animation {
  animation: fadeIn 1s ease-in-out;
  /* animation: fadeIn 6s;  */
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

select, button, input, textarea {
  text-align: left;
  max-width: 300px;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  padding: 0.5rem;
}

.header-image {
  width: calc(100% + 16px);
  height: 250px;
  display: block;
  margin: -8px -8px 20px -8px;
  object-fit: cover;
}

#results-section {
  background-color: #031E5D;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

#center-text{
  text-align: center;
}

#right-text{
  text-align: right;
}